@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
}

span {
    animation: kursor 0.8s linear infinite;
}

.nav {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    color: white;
    /*text-align: right;*/
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    width: 100%;
    top: 0;
    height: 7%;
    max-height: 5%;
}

.option{
    padding: 0.8%;
    float: right;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}
.hibg {
    background-color: white;
    bottom: 0;
    position: relative;
    width: 100%;
    height: 95%;
    clear: both;
}

h1 {
    font-family: 'Fira Code', monospace;
    top: 50%;
    left: 50%;
    margin-top: auto;
    font-weight: bolder;
    position: absolute;
    transform: translate(-50%, -50%);
}
h1 span{
    font-weight: normal;
}

/* @keyframes animatebackground {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes kursor {
    50%{
        opacity: 0;
    }
} */

.panel-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70vw;
    height: 70vh;
    border-radius: 5px;
    z-index: 0;
}

#footer{
    position: absolute;
    bottom:0;
    height: 8vh;
    width: 100%;
    background-color: black;
}

#photo{
    background-image: url(media/pobrane.png);
    background-position: center;
    margin-left: 2vw;
    margin-top: 1vh;
    z-index: 1;
    width: 10vw;
    height: 5vh;
    object-fit:cover;
    background-size:cover ;
    background-repeat: no-repeat;
}